#cart {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 100px;
}

#cart h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

#cart-items li {
    margin-bottom: 5px;
}

#cart-total {
    font-weight: bold;
}

#checkout-btn {
    background-color: $color-principal;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#checkout-btn:hover {
    background-color: $color-terciario;
}

.header-carrito{
    position: sticky;
    width: 98.3%;
}

