

/* ----Header---- */

.logo-pagina{
    height: 100px;

}

header{
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
}


.carrito{
    cursor: pointer;
    display: flex;
    gap: 1rem;
}


.nav-list{
    gap: 5rem;
    li{
        list-style: none
    }
    a{
        position: relative;
        font-size: 1.3rem;
        font-weight: 600px;
        text-transform: uppercase;

    }
}

.nav-list a::after{
    content: '';
    width: 1.5rem;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.nav-list a:hover::after{ 
    opacity: 1;
}

.nav-list a:hover{
    color: white;
}

@media(min-width:915px) {
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        height: 80px;
        width: 100%;
        
    }
    .nav-list{
        display: flex;
        gap: 1rem;
        margin-right: 50px;

    }


}

@media(max-width:915px){
    .carrito{
        display: none;
    }
}

/* ----Portada index---- */

.portada-index{
    background-image: linear-gradient( 40deg, #000, #00000020), url('../img/Portada-index.jpg');
    height: 58rem;
    background-size: cover;
    background-position: center;
}

.contenido-portada{
    text-align: center;
    max-width: 90rem;
    margin: 30 auto;
    padding: 25rem 0;
    & p{
        color: white;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }
    & h2{
        color: white;
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    & a{
        margin-top: 2rem;
        text-decoration: none;
        color: white;
        background-color: $color-principal;
        display: inline-block;
        padding: 1rem 3rem;
        text-transform: uppercase;
        border-radius: 3rem;
    }
}


/* ----Tarjetas de los productos destacados---- */

.titulo-productos-destacados{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 4rem;
    text-decoration: solid;
    margin-top: 50px;
    color: $color-terciario;
    text-align: center;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

.boton-compra{
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    background-color: $color-principal;
    display: flex;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
    justify-content: center;
}

@media(max-width:768px){
    .gallery {
		grid-template-rows: repeat(2, 15rem);
	}
}

@media (max-width: 468px){
    .gallery {
		grid-template-rows: repeat(2, 20rem);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
	}
}

// ----Cartelitos----

.container-cartelitos{
    max-width: 120rem;
    margin: 0 auto;
}


.container-cartel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 5px;

    background-color: $color-terciario;
    border-radius: 1rem;
    padding: 1.5rem 0;
    i{
        font-size: 2.7rem;
        color: $color-secundario;
        margin: 5px;
    }
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    span{
        font-weight: 700;
        font-size: 1.2rem;
        color: white;
    }
    p{
        color: white;
        font-weight: 500;
    }
}


@media(max-width: 768px){
    .container-cartel{
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }

    .container-card{
        padding: 2rem;
    }

    .container-amor{
        display: none;
    }
}

@media(max-width: 480px){

    

    .container-amor{
        display: none;
    }
}



/* ----Footer---- */

footer{
    border-top: 1px solid white;
    background-color: rgb(77, 43, 5);
    color: white;

    padding: 1rem;
}

.footer-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.footer-end {
    text-align: center;
    margin-top: 1rem;
}

.footer-todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    border-bottom: 1px solid white;
    padding: 1rem;
    h4, p {
        font-size: 1.3rem;
        text-decoration: underline;
        margin-bottom: 1rem;
        text-align: center;
    }


}


.footer-secciones,
.footer-redes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-redes ul li a i {
    font-size: 1.3rem;
    padding: 1rem;
}

@media(min-width:768px){
    .footer-todo {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

    .footer-mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


