
.titulo-preguntas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 4rem;
    text-decoration: solid;
    margin-top: 150px;
    color: $color-terciario;
    margin-bottom: 100px;
    text-align: center;
}

.subtitulo-pregunta{
    text-decoration: underline;
}

.parrafo-preguntas{
    padding: 60px;
    text-align: start;
    margin: 60px;
    
}

