
.titulo-preguntas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 4rem;
    text-decoration: solid;
    margin-top: 200px;
    color: $color-terciario;
}

.subtitulo-pregunta{
    text-decoration: underline;
}

.parrafo-preguntas{
    padding: 32px;
    text-align: start;
}

