
.titulo-preguntas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 4rem;
    text-decoration: solid;
    margin-top: 100px;
    color: $color-terciario;
    margin-bottom: 100px;
    text-align: center;
}

.subtitulo-pregunta{
    text-decoration: underline;
}

.parrafo-preguntas{
    padding: 60px;
    text-align: start;
    margin: auto;
    
}

@media (max-width:320px) {
    .titulo-preguntas{
        margin-top: 10px;
        margin-bottom: 40px;
    }
}