.titulo-productos {
    text-align: center;
    padding: 2rem;
    text-decoration: solid;
    font-size: 40px;
    margin-top: 200px;
    font-size: 4rem;
    color: $color-terciario;
}

.container-productos{
    max-width: 1600px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    .producto{
        max-width: fit-content;
        height: 500px;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        & figure{
            overflow: hidden;
        }
        & img{
            width: 330px;
            height: 300px;
            border-radius: 10px 10px 10px 10px;
            object-fit: cover;
            transition: 2s;
        }
        & h3{
            font-weight: 600;
        }
        & p{
            padding: 0 1rem;
            font-size: 16px;
        }
        & button{
            color: white;
            background-color: $color-principal;
            padding: 0.7rem;
            margin-top: 10px;
            border-radius: 10px;
            
        }
    }


}


.tarjeta-producto{
    margin-top: 10px;
}




.precio{
    font-size: 18px;
    font-weight: 900;
}


.comprar{
    cursor: pointer;
}


@media(max-width: 1100px) {
    .container-productos{
        grid-template-columns: repeat(3, 1fr);
        .c{
            width: 340px;


        }
    }
}


@media(max-width: 915px) {
    .container-productos{
        grid-template-columns: repeat(2, 1fr);

    }
    .titulo-productos{
        margin-top: 20px;
    }
}


@media(max-width: 580px) {
    .container-productos{
        grid-template-columns: repeat(2, 1fr);


    }
    .titulo-productos{
        margin-top: 20px;
    }
}


@media(max-width: 456px) {
    .container-productos{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;

    }
    .titulo-productos{
        margin-top: 20px;
    }
}


@media(max-width: 320px) {
    .container-productos{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }
    .titulo-productos{
        margin-top: 50px;
    }
}


