.titulo-productos {
    text-align: center;
    padding: 2rem;
    text-decoration: solid;
    font-size: 40px;
    margin-top: 200px;
    font-size: 4rem;
    color: $color-terciario;
}

.container-productos{
    
}
